# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
Package.resolved

# IDE
*.swp
*.swo
*~
.idea/
.vscode/
